<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Org.Cafh.Courseware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:singuarity.database.windows.net,1433;Database=cafh-courseware;User ID=singularity@singuarity;Password=Awsx1Sedc2Drfv34;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient" />
    <add name="cafh_coursewareConnectionString" connectionString="Data Source=tcp:singuarity.database.windows.net,1433;Initial Catalog=cafh-courseware;User ID=singularity@singuarity;Password=Awsx1Sedc2Drfv34;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="cafh_courseItemItemwareConnectionString" connectionString="Data Source=tcp:singuarity.database.windows.net,1433;Initial Catalog=cafh-courseItemItemware;User ID=singularity@singuarity;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2097151" executionTimeout="5200" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=DefaultConnection; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <Org.Cafh.Courseware.Properties.Settings>
      <setting name="DataEDMX" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="TwilioSId" serializeAs="String">
        <value>ACe81c511059fbc429b20a3e2cde27f37e</value>
      </setting>
      <setting name="TwilioToken" serializeAs="String">
        <value>c535289c178ab6c4e51295c624238f2f</value>
      </setting>
      <setting name="TwilioFromNumber" serializeAs="String">
        <value>+13346974748</value>
      </setting>
      <setting name="StorageAccount" serializeAs="String">
        <value>sykesblog</value>
      </setting>
      <setting name="StoragePrimaryKey" serializeAs="String">
        <value>P2xdN4WQfniWTnZ91dzV982M5A1vgo7J5hu6Q3RdmBkPkgJtIZAYZ1SnYsxsS6APXQq9F68PdSkRwMsyucVCYw==</value>
      </setting>
      <setting name="StorageSecondaryKey" serializeAs="String">
        <value>2R1OA0JAY5xURUbZ7S9MC7MkE/a52vJYy3ayqQoLY5wBZ0Oldy/xfNeDLOg9uVnegFqscWwfGDdVrlH8oAaWxg==</value>
      </setting>
      <setting name="StorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=sykesblog;AccountKey=P2xdN4WQfniWTnZ91dzV982M5A1vgo7J5hu6Q3RdmBkPkgJtIZAYZ1SnYsxsS6APXQq9F68PdSkRwMsyucVCYw==</value>
      </setting>
      <setting name="SendGridUID" serializeAs="String">
        <value>azure_e0b1d0ff6959c08c7239eec6fbeb2f76@azure.com</value>
      </setting>
      <setting name="SendGridSecret" serializeAs="String">
        <value>8Dqu97e14R1Gn8M</value>
      </setting>
      <setting name="SendgridServer" serializeAs="String">
        <value>smtp.sendgrid.net</value>
      </setting>
    </Org.Cafh.Courseware.Properties.Settings>
  </applicationSettings>
</configuration>