@using Lang

@{
    ViewBag.Title = "Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headline-box2">
    <div class="headline-box-content">
        <h1>@Global.Directory</h1>
    </div>
</div>


<div class="platform-content">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="http://www.cafh.org">
                        <strong>@Global.OfficialWebsite</strong>  - http://www.cafh.org
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="http://www.communities.cafh.org/">
                        <strong>@Global.Communities</strong> - http://www.communities.cafh.org/
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="http://www.santiagobovisio.info/">
                        <strong>Santiago Bovisio</strong> - http://www.santiagobovisio.info/
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
